<h1>Home page</h1>
<%= link_to 'profile', profile_path%>

<head>
  <title>Datastore and Firebase Auth Example</title>
</head>
<body>

<h1 >Finally... Transparent Investing</h1>
<p>FinDem allows you to share and learn investing tips from people just like you</p>


<h2>Login info:</h2>

<h2>Share your investments and find out what your peers are investing in</h2>
<p >See how you rank</p>

<h2>Get ideas on what to invest in next</h2>

<h2>Chat about different topics  such as Cryptocurrency, Real Estate, Index Funds and more...</h2>
</body>

